/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include "keymap_finnish.h"
#include "zmk-helpers/helper.h"

// Configure mouse emulation (define defaults before including header)
#define ZMK_POINTING_DEFAULT_MOVE_VAL 600       // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 300       // default: 10 (unsuitably low with smooth scrolling enabled)
#include <dt-bindings/zmk/pointing.h>

// Custom Layers
#define DEFAULT 0
#define GAMING 1
#define NUMPAD 2
#define COMBO 3
#define APPLE 4
#define STENO 5
#define LOWER 6
#define RAISE 7
#define ADJUST 8

// Custom Keycodes
#define _SNIP LG(LS(S))  // Windows snip shortcut
#define _CUT LC(X)
#define _COPY LC(C) 
#define _PASTE LC(V)
#define _SAVE LC(S)
#define _UNDO LC(Z)
#define _REDO LC(Y)
#define _SEARCH LC(F)
#define _PWRD LC(LEFT)
#define _NWRD LC(RIGHT)
#define _BSWRD LC(BSPC)
#define _ALTF4 LA(F4)

// Macro for outputting a single caret (^) symbol
ZMK_MACRO(macro_caret,
    wait-ms = <5>;
    tap-ms = <5>;
    bindings = <&macro_press &kp LSHFT>,
               <&macro_tap &kp FI_DIAE>,
               <&macro_tap &kp SPACE>,
               <&macro_release &kp LSHFT>;
)
// Macro for outputting a single tilde (~) symbol
ZMK_MACRO(macro_tilde,
    wait-ms = <10>;
    tap-ms = <10>;
    bindings = <&macro_press &kp RALT>,
               <&macro_tap &kp FI_DIAE>,
               <&macro_tap &kp FI_DIAE>,
               <&macro_release &kp RALT>,
               <&macro_tap &kp BSPC>;
)
// Macro for outputting a single em dash (—) punctuation mark
ZMK_MACRO(macro_emdash,
    wait-ms = <2>;
    tap-ms = <2>;
    bindings = <&macro_press &kp LALT>,
               <&macro_tap &kp KP_N0>,
               <&macro_tap &kp KP_N1>,
               <&macro_tap &kp KP_N5>,
               <&macro_tap &kp KP_N1>,
               <&macro_release &kp LALT>;
)
// Macro for disabling &mo RAISE after outputting an apostrophe (') to avoid accidental activation of LOWER layer mappings during typing
ZMK_MACRO(macro_apos,
    wait-ms = <1>;
    tap-ms = <1>;
    bindings = <&macro_tap &kp FI_QUOT>,
               <&macro_release &mo RAISE>;
)

&soft_off {
    hold-time-ms = <3000>; // Only turn off it the key is held for 3 seconds or longer.
};

&sk {
    release-after-ms = <850>;
};

&msc {
    x-input-code = <INPUT_REL_HWHEEL>;
    y-input-code = <INPUT_REL_WHEEL>;
    time-to-max-speed-ms = <1500>;
    acceleration-exponent = <0>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | TAB   |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   |   Å   |
 * | LSHFT |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   Ö   |   Ä   |
 * | LCTRL |   Z   |   X   |   C   |   V   |   B   |  MUTE |-------------------| PLAY  |   N   |   M   |   ,   |   .   |   -   | RSHFT |
 *                                 | NUMPAD|  LALT | SPACE | LOWER |---| RAISE | ENTER |  RALT |  GUI  |
 */
                        bindings = <
&kp  TAB      &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                           &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  FI_ARNG
&kp  LSHFT    &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                           &kp  H        &kp  J        &kp  K        &kp  L        &kp  FI_ODIA  &kp  FI_ADIA
&kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  C_MUTE                                        &kp C_PP        &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  FI_MINS  &kp  RSHFT
                                                        &mo NUMPAD    &kp  LALT     &kp  SPACE     &mo  LOWER             &mo  RAISE   &kp  RET        &kp  RALT     &kp  RGUI
                        >;
                };


                gaming_layer {
/* GAMING
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |  ESC  |  TAB  |   Q   |   W   |   E   |   R   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   |   Å   |
 * |   M   | LSHIFT|   A   |   S   |   D   |   F   |-----------------------------------|   H   |   J   |   K   |   L   |   Ö   |   Ä   |
 * |   B   |  CTRL |   Z   |   X   |   C   |   V   |   T   |-------------------| MUTE  |   N   |   M   |   ,   |   .   |   -   | RSHFT |
 *                                 |  LALT |   G   | SPACE | LOWER |---| RAISE | ENTER |  RALT |  GUI  |
 */
                        bindings = <
&kp  ESC      &kp  TAB      &kp  Q        &kp  W        &kp  E        &kp  R                                                                           &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  FI_ARNG
&kp  M        &kp  LSHIFT   &kp  A        &kp  S        &kp  D        &kp  F                                                                           &kp  H        &kp  J        &kp  K        &kp  L        &kp  FI_ODIA  &kp  FI_ADIA
&kp  B        &kp  LCTRL    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  T                                             &kp  C_MUTE     &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  FI_MINS  &kp  RSHFT
                                                        &kp  LALT     &kp  G        &kp  SPACE      &mo  LOWER            &mo  RAISE   &kp  RET        &kp  RALT     &kp  RGUI
                        >;
                };


                numpad_layer {
/* NUMPAD
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   ,   |   7   |   8   |   9   |   -   |-----------------------------------|   €   |   7   |   8   |   9   |   -   |   /   |
 * |       |   0   |   4   |   5   |   6   |   +   |-----------------------------------|   $   |   4   |   5   |   6   |   +   |   *   |
 * |       |   0   |   1   |   2   |   3   |   .   | LALT  |-------------------|       |   £   |   1   |   2   |   3   |   .   |   ,   |
 *                                 |       |   0   | SPACE | LOWER |---| RAISE | ENTER |   0   |  WIN  |
 */
                        bindings = <
&trans        &kp COMMA     &kp N7        &kp N8        &kp N9        &kp KP_MINUS                                                                     &kp FI_EURO   &kp KP_N7     &kp KP_N8     &kp KP_N9     &kp KP_MINUS  &kp KP_DIVIDE
&trans        &kp N0        &kp N4        &kp N5        &kp N6        &kp KP_PLUS                                                                      &kp FI_DLR    &kp KP_N4     &kp KP_N5     &kp KP_N6     &kp KP_PLUS   &kp KP_MULTIPLY
&trans        &kp N0        &kp N1        &kp N2        &kp N3        &kp DOT       &kp  LALT                                          &trans          &kp FI_PND    &kp KP_N1     &kp KP_N2     &kp KP_N3     &kp DOT       &kp COMMA
                                                        &trans        &kp N0        &trans          &mo  LOWER            &mo  RAISE   &kp KP_ENTER    &kp KP_N0     &trans
                        >;
                };

                combo_layer {
/* COMBO
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |CrAlESC| CrAl+1| CrAl+2| CrAl+3| CrAl+4| CrAl+5|-----------------------------------| CrAl+6| CrAl+7| CrAl+8| CrAl+9| CrAl+0|CrAlDEL|
 * |       | Crl+1 | Crl+2 | Crl+3 | Crl+4 | Crl+5 |-----------------------------------| Crl+6 | Crl+7 | Crl+8 | Crl+9 | Crl+0 |       |
 * |       | Alt+1 | Alt+2 | Alt+3 | Alt+4 | Alt+5 |       |-------------------|       | Alt+6 | Alt+7 | Alt+8 | Alt+9 | Alt+0 |       |
 *                                 |       |       |       | LOWER |---| RAISE |       |       |       |
 */
                        bindings = <
&kp LC(LA(ESC)) &kp LC(LA(1)) &kp LC(LA(2)) &kp LC(LA(3)) &kp LC(LA(4)) &kp LC(LA(5))                                                                    &kp LC(LA(6)) &kp LC(LA(7)) &kp LC(LA(8)) &kp LC(LA(9)) &kp LC(LA(0)) &kp LC(LA(DEL))
&trans          &kp LC(1)     &kp LC(2)     &kp LC(3)     &kp LC(4)     &kp LC(5)                                                                        &kp LC(6)     &kp LC(7)     &kp LC(8)     &kp LC(9)     &kp LC(0)     &trans
&trans          &kp LA(1)     &kp LA(2)     &kp LA(3)     &kp LA(4)     &kp LA(5)     &trans                                             &trans          &kp LA(6)     &kp LA(7)     &kp LA(8)     &kp LA(9)     &kp LA(0)     &trans
                                                          &trans        &trans        &trans          &mo  LOWER            &mo  RAISE   &trans          &trans        &trans
                        >;
                };


//                apple_layer {
/* APPLE
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | TAB   |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   |   Å   |
 * | LSHFT |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   Ö   |   Ä   |
 * | LCTRL |   Z   |   X   |   C   |   V   |   B   |  MUTE |-------------------| PLAY  |   N   |   M   |   ,   |   .   |   -   | RSHFT |
 *                                 | NUMPAD|  LALT | SPACE | LOWER |---| RAISE | ENTER |  RALT |  GUI  |
 */
                        bindings = <
&kp  TAB      &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                           &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  FI_ARNG
&kp  LSHFT    &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                           &kp  H        &kp  J        &kp  K        &kp  L        &kp  FI_ODIA  &kp  FI_ADIA
&kp  RGUI     &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  C_MUTE                                        &kp C_PP        &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  FI_MINS  &kp  RSHFT
                                                        &mo NUMPAD    &kp  LALT     &kp  SPACE     &mo  LOWER             &mo  RAISE   &kp  RET        &kp  GLOBE    &kp  LCTRL
                        >;
                };


                steno_layer {
/* STENO
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   |   Å   |
 * |       |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   Ö   |   Ä   |
 * |       |  n/a  |  n/a  |  n/a  |  n/a  |  n/a  |  MUTE |-------------------| PLAY  |  n/a  |  n/a  |  n/a  |  n/a  |  n/a  | SPACE |
 *                                 |   #   |   C   |   V   | LOWER |---| RAISE |   N   |   M   |   #   |
 */
                        bindings = <
&trans        &kp Q         &kp W         &kp E         &kp R         &kp T                                                                            &kp Y         &kp U         &kp I         &kp O         &kp P         &kp FI_ARNG
&trans        &kp A         &kp S         &kp D         &kp F         &kp G                                                                            &kp H         &kp J         &kp K         &kp L         &kp FI_ODIA   &kp FI_ADIA
&trans        &none         &none         &none         &none         &none         &kp  C_MUTE                                        &kp C_PP        &none         &none         &none         &none         &none         &kp SPACE
                                                        &kp N1        &kp C         &kp V           &mo  LOWER            &mo  RAISE   &kp N           &kp M         &kp N1
                        >;
                };


                lower_layer {
/* LOWER
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |  ESC  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   |   —   |
 * |       |   !   |   "   |   #   |   =   |   %   |-----------------------------------|   &   |   /   |   (   |   )   |   ?   |   |   |
 * |   ^   |   ~   |   @   |   +   |   {   |   }   | VOL - |-------------------| VOL + |   [   |   ]   |   <   |   >   |   \   |   *   |
 *                                 |       |       |       |       |---| ADJUST|       |       |       |
 */
                        bindings = <
&kp ESC       &kp  N1       &kp  N2       &kp  N3       &kp  N4       &kp  N5                                                                          &kp  N6       &kp  N7       &kp  N8       &kp  N9       &kp  N0       &macro_emdash
&trans        &kp  FI_EXLM  &kp  FI_DQUO  &kp  FI_HASH  &kp  FI_EQL   &kp  FI_PERC                                                                     &kp  FI_AMPR  &kp  FI_SLSH  &kp  FI_LPRN  &kp  FI_RPRN  &kp  FI_QUES  &kp FI_PIPE
&macro_caret  &macro_tilde  &kp  FI_AT    &kp  FI_PLUS  &kp  FI_LCBR  &kp  FI_RCBR  &kp C_VOL_DN                                       &kp C_VOL_UP    &kp  FI_LBRC  &kp  FI_RBRC  &kp  FI_LABK  &kp  FI_RABK  &kp  FI_BSLS  &kp FI_ASTR
                                                        &trans        &trans        &trans          &trans                &mo ADJUST   &trans          &trans        &trans
                        >;
                };


                raise_layer {
/* RAISE
  * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | ALT F4|  INS  | PSCRN |CTXMENU|       |-----------------------------------|       | ← WORD|   ↑   | WORD →|       |   `   |
 * |       | REDO  |  SAVE | SNIP  | SEARCH|       |-----------------------------------|PAGE UP|   ←   |   ↓   |   →   |DEL WRD|   '   |
 * |       | UNDO  |  CUT  | COPY  | PASTE |       | SCRL ↑|-------------------| SCRL ↓|PAGE DN|  HOME |  DEL  |  END  | BSPACE|   ´   |
 *                                 |       |       | BSPC  | ADJUST|---|       |       |       |       |
  */
                        bindings = <
&trans        &kp _ALTF4    &kp INS       &kp PSCRN     &kp K_CMENU   &trans                                                                           &trans        &kp _PWRD     &kp UP        &kp _NWRD     &trans        &kp FI_GRV
&trans        &kp _REDO     &kp _SAVE     &kp _SNIP     &kp _SEARCH   &trans                                                                           &kp PG_UP     &kp LEFT      &kp DOWN      &kp RIGHT     &kp _BSWRD    &macro_apos
&trans        &kp _UNDO     &kp _CUT      &kp _COPY     &kp _PASTE    &trans        &msc SCRL_UP                                       &msc SCRL_DOWN  &kp PG_DN     &kp HOME      &kp DEL       &kp END       &kp BSPC      &kp FI_ACUT
                                                        &trans        &trans        &kp BSPC        &mo ADJUST            &trans       &trans          &trans        &trans
                        >;
                };


                adjust_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |OUT TOG| BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------| BT CLR|  F7   |  F8   |  F9   |  F10  |       |
 * |SK SHFT| STENO | NUMPAD| GAMING|DEFAULT| CAPS  |-----------------------------------|       |  F4   |  F5   |  F6   |  F11  |       |
 * |SK LCRL|       |       | APPLE |1 COMBO|       | SCRL ←|-------------------| SCRL →|       |  F1   |  F2   |  F3   |  F12  |SK CrAl|
 *                                 |       |SK LALT|       |       |---|       |       |SK RALT| SK WIN|
 */
                        bindings = <
&out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                                                     &bt BT_CLR    &kp F7        &kp F8        &kp F9        &kp F10       &trans
&sk LSHFT     &to STENO     &to NUMPAD    &to GAMING    &to DEFAULT   &kp CLCK                                                                         &trans        &kp F4        &kp F5        &kp F6        &kp F11       &trans
&sk LCTRL     &trans        &trans        &to APPLE     &to COMBO     &trans        &msc SCRL_LEFT                                     &msc SCRL_RIGHT &trans        &kp F1        &kp F2        &kp F3        &kp F12       &sk LC(LALT)
                                                        &trans        &sk LALT      &trans          &trans                &trans       &trans          &sk RALT     &sk RGUI
                        >;
                };


//                template_layer {
/* TEMPLATE
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |       |       |       |       |       |-----------------------------------|       |       |       |       |       |       |
 * |       |       |       |       |       |       |-----------------------------------|       |       |       |       |       |       |
 * |       |       |       |       |       |       |       |-------------------|       |       |       |       |       |       |       |
 *                                 |       |       |       |       |---|       |       |       |       |
 */
//                        bindings = <
//&trans        &trans        &trans        &trans        &trans        &trans                                                                           &trans        &trans        &trans        &trans        &trans        &trans
//&trans        &trans        &trans        &trans        &trans        &trans                                                                           &trans        &trans        &trans        &trans        &trans        &trans
//&trans        &trans        &trans        &trans        &trans        &trans        &trans                                             &trans          &trans        &trans        &trans        &trans        &trans        &trans
//                                                        &trans        &trans        &trans          &trans                &trans       &trans          &trans        &trans
//                        >;
//                };
        
        
        };
};